<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <div class="row">
        <div class="col-md-10">
          <textarea [(ngModel)]="body" name="body" class="variable-textarea" class="form-control" rows="5"
            placeholder="Write a comment"></textarea>
        </div>
        <div class="col-md-2">
          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add Comment</button>
        </div>
      </div>
    </div>
  </form>
</div>
