<div class="container">
    <h2 class="text-center">Create New Article</h2>
    <form #addArticles = 'ngForm' (ngSubmit) = "onSubmit(addArticles)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" [ngModel] = "article?.title" #title = 'ngModel' name = "title" required placeholder = "Title">
          <span class = "text-danger" *ngIf = "title.invalid && title.touched">
              Title is required
          </span>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [ngModel] = "article?.description" #description = 'ngModel' name = 'description' placeholder = "Description"  required>
          <span class = "text-danger" *ngIf = "description.invalid && description.touched">
            Description is required
          </span>
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <div class="row">
                <div class="col-6">
                    <textarea class="variable-textarea" class="form-control" #alo = 'ngModel' [(ngModel)]="markdown" rows="10" name = "markdown" placeholder = "Content" required></textarea>
                </div>
                <span class = "text-danger" *ngIf="alo.invalid && alo.touched">Content is required!</span>
                <div class="col-6">
                    <markdown class="variable-binding" [data]="markdown"></markdown>
                    <!-- <markdown class="variable-binding" [data]="markdown">
                    </markdown> -->
                </div>
            </div>
        </div>
        <div class="form-group">
          <label for="tag">Tag</label>
          <input type="text" class="form-control" id="tag" [ngModel] = "tag" name = "tag">
        </div>
        <button type="submit" [disabled]="addArticles.invalid" class="btn btn-primary">Update Articles</button>
      </form>
</div>

