<ul class="list-group mb-5">
  <li class="list-group-item border mb-3" *ngFor="let comment of comments">
    <div class="row">
      <div class="col-8 d-flex mb-2">
        <div class="image" *ngIf="comment.author.image">
          <img [src]="comment.author.image" alt="" width="50px" height="50px" class="rounded-circle">
        </div>
        <div class="right ml-3">
          <a routerLink="/{{comment.author.username}}" class="nav-link h5 px-0 py-0 mb-0" routerLinkActive="router-link-active"><strong>{{comment.author.username}}</strong></a>
          <small>{{comment.createdAt | date}}</small>
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-outline-primary float-right" (click)="handleDelete(comment._id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <h4 class="mb-0">{{comment.body}}</h4>
  </li>
</ul>
