<div class="container mb-4">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <div class="row">
        <div class="image col-md-1" *ngIf="image">
          <img [src]="image" alt="" width="80px" height="80px" class="rounded-circle">
        </div>
        <div class="col-md-11 pr-0">
          <textarea [(ngModel)]="body" name="body" class="variable-textarea" class="form-control" rows="4"
            placeholder="Write a comment"></textarea>
        </div>
      </div>
      <div class="row mt-2">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary ml-auto">Add Comment</button>
      </div>
    </div>
  </form>
</div>

<ul class="list-group mb-5">
  <li class="list-group-item border mb-3" *ngFor="let comment of comments">
    <div class="row">
      <div class="col-8 d-flex mb-2">
        <div class="image" *ngIf="comment.author.image">
          <img [src]="comment.author.image" alt="" width="50px" height="50px" class="rounded-circle">
        </div>
        <div class="right ml-3">
          <a routerLink="/{{comment.author.username}}" class="nav-link h5 px-0 py-0 mb-0" routerLinkActive="router-link-active"><strong>{{comment.author.username}}</strong></a>
          <small>{{comment.createdAt | date}}</small>
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-outline-primary float-right" (click)="handleDelete(comment._id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <h4 class="mb-0">{{comment.body}}</h4>
  </li>
</ul>
