<section class="global container">
  <div class="p-5 text-center bg-dark text-light">
    <h1 class="mb-3">Conduit Blog </h1>
    <h4 class="mb-3">A tech blog for enthusiastic programer</h4>
    <a class="btn btn-primary" href="" role="button">Email Subcribe Now</a>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-global-tab" data-toggle="tab" href="#nav-global" role="tab" aria-controls="nav-global" aria-selected="true">Global</a>
      <a *ngIf='isCheckLogin' class="nav-link" id="nav-feed-tab" data-toggle="tab" href="#nav-feed" role="tab" aria-controls="nav-feed" aria-selected="false">Feed</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-global" role="tabpanel" aria-labelledby="nav-global-tab">
      <!-- <div class="row">
        <input type="text" placeholder="Nhập từ khóa cần tìm kiếm">
        <button class="btn btn-primary">Tìm kiếm </button>
      </div> -->
      <div class="row mt-5">
        <div class="blog-posts col-8">
          <app-article-list [posts]="posts"></app-article-list>
        </div>
        <div class="tags col-4">
          <app-tag-list [tags]="tags"></app-tag-list>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-feed" role="tabpanel" aria-labelledby="nav-feed-tab">
      <div class="row mt-5">
        <div class="blog-posts col-8">
          <app-article-list [posts]="post1"></app-article-list>
        </div>
        <div class="tags col-4">
          <app-tag-list [tags]="tags"></app-tag-list>
        </div>
      </div></div>
  </div>
</section>
