<section class="home container">
    <div class="p-5 text-center bg-dark text-light">
        <h1 class="mb-3">Blog Name</h1>
        <h4 class="mb-3">blog description</h4>
        <a class="btn btn-primary" href="" role="button">CTA btn</a>
      </div>
    <div class="row mt-5">
        <div  class="blog-posts col-8">
            <app-article-list [posts]="posts"></app-article-list>
        </div>
        <div class="tags col-4">
            <app-tag-list [tags]="tags"></app-tag-list>
        </div>
    </div>
</section>
