.navbar {
  .navbar-brand {
    font-size: 30px;
    font-weight: 700;
  }
}
.navbar-nav {
  li a {
    font-size: 19px;
  }
  .active {
    a {
      color: rgb(93, 185, 0);
    }
  }
  .router-link-active {
    color: rgb(93, 185, 0);
  }
}
